.create_page {
  margin-top: 32px;
  max-width: 1000px;
  margin-inline: auto;

  .status_bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 113px;
    background: rgb(228, 228, 228);
    transition: width 0.5s;
    animation: start_progress 1s;
  }

  .content {
    h2 {
      color: rgb(65, 65, 65);
      margin-bottom: 16px;
      font-size: 28px;
      letter-spacing: 0.05em;
    }

    .inp_title {
      color: rgb(73, 73, 73);
      width: 100%;
      padding: 8px;
      font-size: 20px;
      font-weight: 400;
      outline: none;
      border: 1px solid rgb(176, 176, 176);
      border-radius: 4px;

      &:focus {
        border-color: rgb(80, 80, 80);
      }
    }

    textarea {
      width: 100%;
      min-height: 250px;
      resize: vertical;
    }

    .file_upload {
      width: 100%;
      height: 200px;
      background: rgb(232, 232, 232);
      border-radius: 8px;
      border: 4px dashed rgb(180, 180, 180);
    }

    .check_data {
      h3 {
        font-weight: 500;
        font-size: 22px;
      }

      hr {
        margin-block: 12px;
      }

      p {
        text-align: justify;
      }
    }

    .btn_section {
      display: flex;
      justify-content: flex-end;
      margin-block: 24px;

      .before {
        color: rgb(92, 39, 143);
        border: 2px solid rgb(92, 39, 143);
        padding: 12px 16px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 24px;
        transition: 0.3s;

        &:hover {
          background: rgb(92, 39, 143);
          color: white;
          box-shadow: 0 0 20px -5px rgba(0 0 0 / 0.5);
          transform: translateY(-2px);
        }
      }

      .next {
        color: white;
        background: rgb(92, 39, 143);
        padding: 12px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          box-shadow: 0 0 20px -5px rgba(0 0 0 / 0.5);
          transform: translateY(-2px);
        }
      }
    }
  }

  .info {
    background: rgb(240, 222, 151);
    border: 1px solid rgb(214, 184, 63);
    font-size: 18px;
    border-radius: 4px;
    padding: 16px;
    color: rgb(73, 73, 73);

    h2 {
      font-weight: 500;
      letter-spacing: 0.1em;
      margin-bottom: 24px;
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 16px;

        h3 {
          font-weight: 500;
        }
      }
    }
  }
}

@keyframes start_progress {
  from {
    width: 0;
  }

  to {
    width: 25%;
  }
}
