.login_page {
  position: fixed;
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 24px -4px rgb(0 0 0 / 20%);
  border-radius: 8px;
  overflow: hidden;

  .login_content {
    background: #fff;
    padding: 40px;
    min-width: 800px;

    h1 {
      font-weight: normal;
      letter-spacing: 0.2em;
      color: black;
      text-align: center;
      padding-bottom: 4px;
      margin-bottom: 12px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.599);
    }

    .form {
      display: grid;
      grid-template: auto/1fr;
      gap: 32px;
      grid-gap: 32px;

      input[type='submit'] {
        width: 100%;
        padding: 8px 0;
        border: 2px solid black;
        outline: none;
        background: none;
      }

      .recover {
        display: inline-block;
        color: black;
        text-align: right;
        border-bottom: 1px solid black;
        padding-bottom: 1px;
        margin-bottom: 8px;
        cursor: pointer;
      }
    }

    .oauth {
      text-align: center;
      margin: 16px 0;

      span {
        position: relative;
        color: black;

        &::before {
          content: '';
          height: 1px;
          position: absolute;
          width: 40px;
          background: black;
          left: -44px;
          top: calc(50% + 1px);
        }

        &::after {
          content: '';
          height: 1px;
          position: absolute;
          width: 40px;
          background: black;
          right: -44px;
          top: calc(50% + 1px);
        }
      }

      .providers {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          margin: 0 8px;

          svg {
            fill: black;
            height: 24px;
            width: auto;
          }
        }
      }
    }

    .register {
      color: black;
      float: right;
    }
  }
}
