.register_page {
  position: fixed;
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);

  .register_content {
    min-width: 800px;
    background: white;
    padding: 40px;
    box-shadow: 0 0 24px -4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    overflow: hidden;

    .type {
      display: flex;
      justify-content: flex-start;
      font-size: x-large;
      letter-spacing: 0.1em;
      color: black;
      border-bottom: 1px solid rgba(173, 173, 173, 0.542);
      padding-bottom: 12px;
      margin-bottom: 24px;

      div {
        flex-basis: calc(50% - 12px);
        text-align: center;
        cursor: pointer;

        span {
          border-bottom: 2px solid white;
        }

        &.active span {
          border-color: rgb(91, 27, 155);
        }

        &:nth-child(1) {
          margin-right: 12px;
        }

        &:nth-child(2) {
          margin-left: 12px;
        }
      }
    }

    .form {
      padding-bottom: 16px;

      .grid {
        display: grid;
        grid-template: auto / 1fr 1fr;
        row-gap: 24px;
        column-gap: 42px;
      }

      .submit {
        width: 100%;
        padding: 8px 0;
        outline: none;
        border: 2px solid black;
        background: transparent;
        color: black;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 32px;

        &:hover {
          background-color: rgb(91, 27, 155);
          color: white;
          border-color: rgb(91, 27, 155);
        }

        &.disabled {
          cursor: not-allowed;
          color: rgba(0, 0, 0, 0.6);
          border-color: rgba(0, 0, 0, 0.6);

          &:hover {
            background-color: transparent !important;
            color: black(255, 255, 255, 0.6) !important;
          }
        }
      }
    }

    & > a {
      float: right;
    }
  }
}
